<!DOCTYPE html>
<html>
<head>
  <title>Rainforest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">

<div id="header_bar">

	<div class ="nav_button">
		<%= link_to "+ New", "/products/new", :class => "nav_text_link"%>
	</div>

	<div id="page_name_div">
		<a href="/products"><p id="page_name">Rainforest</p></a>
	</div>

</div>

<div id="sidebar">
	<div id="side_header_div"><li id = "sidebar_header">Categories</li></div>
	
	<div class = "filter_list">
	</div>

</div>



<div id="content">
		<% if flash[:notice] %>
      <p id="notice"><%= flash[:notice] %></p>
    	<% end %>
    <% if flash[:alert] %>
      <p id="alert"><%= flash[:alert] %></p>
    <% end %>
	<%= yield %>	
</div>

</div>
</body>
</html>
